/src/code/test/segment/rc_region/*
!/src/code/test/segment/rc_region/rc_region.pyx
!/src/code/test/segment/rc_region/setup.py
/src/code/omp/*
!/src/code/omp/__init__.py
!/src/code/omp/batch_omp.pyx
!/src/code/omp/demo.py
!/src/code/omp/main.cpp
!/src/code/omp/main.h
!/src/code/omp/setup.py
/src/code/third-party/eigen/*
!/src/code/third-party/eigen/.gitkeep
/images/*
!/images/VIPeR.v1.0/
!/images/.gitkeep
/data/*
!/data/.gitkeep
/.vscode/*
**/__pycache__/