/src/code/omp/*
!/src/code/omp/__init__.py
!/src/code/omp/batch_omp.pyx
!/src/code/omp/demo.py
!/src/code/omp/main.cpp
!/src/code/omp/main.h
!/src/code/omp/setup.py
/src/code/third-party/eigen/*
!/src/code/third-party/eigen/.gitkeep
/images/*
!/images/VIPeR.v1.0/
!/images/.gitkeep
/data/*
!/data/.gitkeep
!/data/lda_data_demo.mat
/.vscode/*
**/__pycache__/